<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <br />

      <h4>Bienvenue <%= @bricooler.first_name %></h4>

      <p>Définissez les travaux pour lesquels vous êtes compétents et à quel prix.</p>
      <p>Attention, <strong>sur Bricool les prix sont fixés à l'avance</strong>, estimez au mieux la prestation :</p>
      <p>
      <li>transport inclus</li>
      <li>possibilité, le jour de la prestation, d'acheter du matériel supplémentaire. L'achat de matériel sera payé à l'avance par le client ou remboursé sur facutre auprès du Bricooler chargé de l'achat</li>
      <li>pour les professionnels, pensez à inclure la TVA</li>
      </p>
      <p>Tous les prix seront majorés de 15%, correspondant à la commission Bricool.</p>
      <br />

      <h4>Mes travaux</h4>

      <%= bootstrap_form_for [:account, @service] do |f| %>

        <h5>Pose de détecteur</h5>
          <div class="list-inline" id="detecteur-form">
            <%= f.hidden_field :category, :value => "Pose d'un détecteur de fumée" %>
            <li><%= f.check_box :name, {label: "Pose d'un déctecteur de fumée (matériel non fourni)"}, "Pose de détecteur de fumée", "0" %></li>
            <li>- Votre prix:</li>
            <li><%= f.number_field :price, hide_label: true, in: 0..200, step: 5 %></li>
            <li>€</li>
          </div>

      <% end %>

        <h5>Bricolage à l'heure</h5>

      <%= bootstrap_form_for [:account, @service] do |f| %>

          <div class="list-inline" id="bricolage-form">
            <%= f.hidden_field :category, :value => "Bricolage à l'heure" %>
            <li><%= f.check_box :name, {label: "Bricolage à l'heure"}, "Bricolage à l'heure", "0" %></li>
            <li><%= f.number_field :price, hide_label: true, in: 0..200, step: 5 %></li>
            <li>€</li>
            <em><p>Outils fournis par le bricooleur</p></em>
          </div>

      <% end %>

        <h5>Montage de meubles</h5>

      <%= bootstrap_form_for [:account, @service] do |f| %>

        <div class="list-inline" id="montage-simple-form">
          <%= f.hidden_field :category, :value => "Montage de meubles" %>
          <li><%= f.check_box :name, {label: "Meuble simple (tabouret, chaise, lit bébé...)"}, "Meuble simple", "0" %></li>
          <li><%= f.number_field :price, hide_label: true, in: 0..200, step: 5 %></li>
          <li>€</li>
        </div>

      <% end %>

      <%= bootstrap_form_for [:account, @service] do |f| %>

        <div class="list-inline" id="montage-moyen-form">
          <%= f.hidden_field :category, :value => "Montage de meubles" %>
          <li><%= f.check_box :name, {label: "Meuble moyen (lit enfant/adulte, commode, bureau simple, canapé...)"}, "Meuble moyen", "0" %></li>
          <li><%= f.number_field :price, hide_label: true, in: 0..200, step: 5 %></li>
          <li>€</li>
        </div>

      <% end %>

      <%= bootstrap_form_for [:account, @service] do |f| %>

        <div class="list-inline" id="montage-complexe-form">
          <%= f.hidden_field :category, :value => "Montage de meubles" %>
          <li><%= f.check_box :name, {label: "Meuble complexe (lit superposé, grande commode, rayonnage, étagère, bibliothèque...)"}, "Meuble complexe", "0" %></li>
          <li><%= f.number_field :price, hide_label: true, in: 0..200, step: 5 %></li>
          <li>€</li>
        </div>

      <% end %>

      <%= link_to "Je valide", account_services_path, :class => 'brand-btn button_submit' %>

    <br />

    </div>
  </div>
</div>