<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <br />
      <h4>Vous avez oublié votre mot de passe ?</h4>
      <br />

      <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <div class="form-inputs">
          <%= f.email_field :email, label: "Mon email", autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.submit "M'envoyer les instructions", class: "brand-btn" %>
        </div>
      <% end %>

    </div>

    <div class="col-sm-4 col-sm-offset-4">
    <br />
      <div class="link">
        <i class="fa fa-hand-o-right"></i><%= link_to " Me connecter", new_user_session_path %>
      </div>
      <div class="link">
        <i class="fa fa-hand-o-right"></i><%= link_to " M'inscrire", new_user_registration_path %>
      </div>
    </div>

  </div>
</div>
