<footer>
  <div class="container bricool-footer">
    <div class="row">

      <div class="col-xs-2">
        <div class="bricool-elements list-inline">
          <li><strong>BRICOOL</strong></li>
          <br />
          <br />
          <li><%= link_to "A propos de Bricool" %></li>
          <li><%= link_to "Inscription | Connexion", new_user_session_path %></li>
          <li><%= link_to "Mot de passe oublié" %></li>
          <li><%= link_to "Conditions Générales" %></li>
          <li><%= link_to "Presse" %></li>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="bricooleur-elements list-inline">
          <li><strong>BRICOOLEUR</strong></li>
          <br />
          <br />
          <li><%= link_to "Devenir Bricooler", new_user_registration_path %></li>
          <li><%= link_to "Accéder à mon espace", new_user_session_path %></li>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="rs-elements list-inline">
          <li><strong>NOUS SUIVRE</strong></li>
          <br />
          <br />
          <li>
            <%= link_to() do %>
             <i class="fa fa-facebook fa-2x"></i>
            <% end %>
          </li>
          <li>
            <%= link_to() do %>
              <i class="fa fa-twitter fa-2x"></i>
            <% end %>
          </li>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="contact-elements list-inline">
          <li><strong>NOUS CONTACTER</strong></li>
          <br />
          <br />
          <li>06 18 20 08 77</li>
          <li><%= mail_to "hello@bricool.fr" %></li>
        </div>
      </div>

      <div class="col-xs-12">
      <br />
        <div class="mention">
          © 2015 Bricool SAS / Tous droits réservés
        </div>
      </div>
  </div>
</footer>