<div class= "container bricool-home">
  <div class= "row">

  <div class= "col-xs-10 col-xs-offset-1">

    <div class= "bricool-ovals">
      <div class= "col-xs-4">
        <%= image_tag 'oval1.png', width:'60px'%>
        <h6>Je choisis mes travaux</h6>
        <h6>et mon bricooleur</h6>
      </div>

      <div class= "col-xs-4">
        <%= image_tag 'oval2.png', width:'60px'%>
        <h6>Je paie en ligne</h6>
      </div>

      <div class= "col-xs-4">
        <%= image_tag 'oval3.png', width:'60px'%>
        <h6>Je note</h6>
      </div>
    </div>

    <div class= "bricool-search">
      <div class= "col-xs-12">
        <h4>Dites-nous ce dont vous avez besoin</h4>
        <%= image_tag 'search-img.png', width:'60%'%>
      </div>
    </div>

    <div class= "bricool-argus">
      <div class= "col-xs-4">
        <%= image_tag 'euro.png', width:'45px'%>
        <h6>Des prix fixes</h6>
        <h6>et un paiement sécurisé</h6>
      </div>

      <div class= "col-xs-4">
        <%= image_tag 'muscle.png', width:'50px'%>
        <h6>Des personnes de confiance</h6>
        <h6>triées sur le volet par nos soins</h6>
      </div>

      <div class= "col-xs-4">
        <%= image_tag 'stars.png', width:'50px'%>
        <h6>La garantie</h6>
        <h6>satisfait ou remboursé</h6>
      </div>
    </div>

    <div class= "petits-travaux">
      <div class= "col-xs-12">
        <h4>Nos petits travaux</h4>
        <%= =>
      </div>
    </div>

    <div class= "Nos bricooleurs">
      <div class= "col-xs-12">
        <h4>Nos bricooleurs</h4>
      </div>
    </div>

    </div>

  </div> <!-- ferme la row -->
</div> <!-- ferme le container -->
