<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Sign in</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
        <%= f.input :password_confirmation, required: true %>
        <%= f.button :submit, "Sing in", class: "btn btn-primary" %>
      <% end %>

      <%= render "devise/shared/links" %>

      <li>
        <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook) %>
      </li>

    </div>
  </div>
</div>


<li>
  <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook) %>
</li>

<% if user_signed_in? %>
  <%= image_tag current_user.picture, class: "img-avatar" %>
<% end %>


<br>
<% if user_signed_in? %>
  Hello <%= current_user.email %>!
  <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: "btn btn-danger" %>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to 'Sign in', new_user_session_path, class: "btn btn-success" %>
<% end %>